<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Albums</title>
</head>
<body>
<!--<h1>Albums</h1>-->
<!--<form action="/addAlbum" method="post">-->
<!--    <p>Title</p><input type="text" name="title"/></br>-->
<!--    <p>Artist</p><input type="text" name="artist" /></br>-->
<!--    <p>song Count</p><input type="text" name="songCount" /></br>-->
<!--    <p>length in seconds</p><input type="text" name="length" /></br>-->
<!--    <p>image Url</p><input type="text" name="imageUrl" /></br>-->

<!--    <button type="submit">Submit</button>-->
<!--</form>-->

<!--<ul th:each="Album: ${albumsList}">-->
<!--    <p>Title</p><span th:text="${Album.title}"></span>-->
<!--    <p>Artist</p><span th:text="${Album.artist}"></span>-->
<!--    <p>song Count</p><span th:text="${Album.songCount}"></span>-->
<!--    <p>length in seconds</p><span th:text="${Album.length}"></span>-->
<!--    <p>image Url</p><span th:text="${Album.imageUrl}"></span>-->
<!--    <p>**********************************************************</p>-->
<!--</ul>-->

</body>
</html>