body {
  background-color: #80ced6;
}

h1{
    text-align: center;
    background-color: #80ced6;
    color: #f18973;
}

h2{
    text-align: center;
    background-color: #d5f4e6;
    color: #f18973;
}